@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', system-ui, sans-serif;
}

table th {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #f3f4f6;
}